

.windowBorder{

	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 5, 0, 0, 0);

	-fx-background-color: rgba(16, 16, 24 , 1);
	-fx-border-radius: 7;
    -fx-background-radius: 7;
	-fx-border-color: derive(rgba(13,71,161 , 1),-0.80);
	-fx-border-width: 1px;
}

.roundedTop{
 	  -fx-border-radius: 7 7 0 0;
  	  -fx-background-radius: 7 7 0 0;
 }

.roundedBottom{
 	  -fx-border-radius: 0 0 7 7;
  	  -fx-background-radius: 0 0 7 7;
 }

.background {
    -fx-background-color: rgba(35, 35, 47 , 1);
}

.title{
	-fx-text-fill: #3498db;
	-fx-font-family: "Quicksand Medium";
	-fx-font-size: 12pt;
}

.separator *.line {
	-fx-border-color: rgba(52, 152, 219, 0.7);
	-fx-border-style: solid;
	-fx-border-width: 1px;
}



.panePanel{
    -fx-background-radius: 2;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 10, 0, 0, 0);
    }

/********************************* */
.labelRegular{
	-fx-text-fill: #ecf0f1;
	-fx-font-family: "Quicksand Regular";
	-fx-font-size: 14pt;
}

.labelBold{
	-fx-text-fill: #ecf0f1;
	-fx-font-family: "Quicksand Bold";
	-fx-font-size: 14pt;
}

.labelMedium{
	-fx-text-fill: #ecf0f1;
	-fx-font-family: "Quicksand Medium";
	-fx-font-size: 14pt;
}
.labelLight{
	-fx-text-fill: #ecf0f1;
	-fx-font-family: "Quicksand Light";
	-fx-font-size: 14pt;
}

.labelMonospace{
	-fx-text-fill: #ecf0f1;
	-fx-font-family: "Consolas";
		-fx-font-size: 14pt;
}
/****************************************************************** */
.labelRegularInfo{
	-fx-text-fill: #bdc3c7;
	-fx-font-family: "Quicksand Regular";
	-fx-font-size: 11pt;
}

.labelBoldInfo{
	-fx-text-fill: #ecf0f1;
	-fx-font-family: "Quicksand Medium";
	-fx-font-size: 13.5pt;
}

/****************************************************************** */

.titleLabel{
	-fx-text-fill: #ecf0f1;
	-fx-font-family: "Quicksand Medium";
	-fx-font-size: 20pt;
}

.categoryTitle{
	-fx-text-fill: #000000;
}

.list-view {
  -fx-background-insets: 0;
  -fx-padding: 0;
}

.list-view .list-cell:even {
-fx-background-color: rgba(35, 35, 47 , 1);
}
.list-view .list-cell:odd {
-fx-background-color: rgba(43,43,55,1);
}

.rounded{
	 -fx-border-radius: 7;
    -fx-background-radius: 7;
  }

/* CHOICE BOX STYLING*/
.cb .context-menu { -fx-background-color: rgba(16, 16, 24 , 1); }

.cb .menu-item:focused { -fx-background-color: #3498db; }

.cb .menu-item > .label { -fx-text-fill: white; }

.cb .menu-item:focused > .label { -fx-text-fill: black; }

.cb {
  -fx-background-color: rgba(16, 16, 24 , 1);
  -fx-mark-color: #3498db;

  	-fx-text-fill: #ecf0f1;
	-fx-font-family: "Quicksand Bold";
	-fx-font-size: 12pt;
}
.cb > .label { -fx-text-fill: white; }
/* ************************************** */


/* TILE PANE STYLING*/
.titled-pane {
	-fx-background-color: rgba(16, 16, 24 , 1);
  	-fx-text-fill: #ecf0f1;
	-fx-font-family: "Quicksand Regular";
	-fx-font-size: 10pt;
	-fx-background-radius: 5;
}

.titled-pane > .title
{
-fx-background-color: rgba(16, 16, 24 , 1);
-fx-background-insets: 0, 1, 2;
-fx-background-radius: 7;
-fx-padding: 0.166667em 0.833333em 0.25em 0.833333em;
}


.titled-pane:focused{ -fx-text-fill: white; }
.titled-pane:focused > .title{-fx-color: -fx-focus-color;}

.titled-pane > *.content{ -fx-background-color: rgba(43,43,55,1); }

.titled-pane:focused > .title > .arrow-button .arrow { -fx-background-color: white; }

 .text-area .content{ -fx-background-color: rgba(43,43,55,1); }

/****************************************** */


.chronometer{
	-fx-text-fill: #3498db;
}

.chronometerMinutes, .chronometerSeconds{
	-fx-text-fill: #3498db;
	-fx-font-family: "Consolas";
	-fx-font-size: 20pt;
}
.chronometerMilliseconds{
	-fx-text-fill: #3498db;
	-fx-font-family: "Consolas";
	-fx-font-size: 16pt;
}

/* SPINNER STYLE */

.spinner{
	-fx-control-inner-background: rgba(43,43,55,1);
}

.spinner .increment-arrow-button,
.spinner .decrement-arrow-button {
    -fx-body-color:  rgba(16, 16, 24 , 1);
}

.spinner .increment-arrow-button .increment-arrow,
.spinner .decrement-arrow-button .decrement-arrow{
    -fx-background-color: white;
}

.spinner .increment-arrow-button:hover,
.spinner .decrement-arrow-button:hover {
    -fx-body-color: ladder(#444, rgba(16, 16, 24 , 1) 0%, #3498db 100%);
}

.spinner .increment-arrow-button:hover:pressed,
.spinner .decrement-arrow-button:hover:pressed,
.spinner .increment-arrow-button:pressed,
.spinner .decrement-arrow-button:pressed {
    -fx-body-color: ladder(#AAA, rgba(16, 16, 24 , 1) 0%, #3498db 100%);
}

/************************************************************************ */

/* BOTTONE DI CONFERMA */
.confirmButton{
	-fx-cursor: pointer;
	-fx-background-color: #3498db;
	-fx-text-fill: #ecf0f1;
	-fx-font-family: "Quicksand Medium";
	-fx-font-size: 12pt;
	-fx-background-radius: 5;
	-fx-effect: dropshadow(three-pass-box, #2980b9, 0, 1, 0, 6);
}

.confirmButton:hover { -fx-background-color:  derive(#3498db, 0.1); }

.confirmButton:pressed{
	-fx-translate-y: 4px;
	-fx-background-color: derive(#3498db,-0.1);
	-fx-effect: dropshadow(three-pass-box, derive(#2980b9, -0.2), 0, 1, 0, 3);
}
.confirmButton:disabled{
	-fx-translate-y: 5px;
	-fx-background-color: derive(#3498db,-0.2);
	-fx-effect: dropshadow(three-pass-box, derive(#2980b9, -0.3), 0, 1, 0, 2);
}
/********************** */












